In [1]:
import pandas as pd
import csv
import numpy as np

import psycopg2
from sqlalchemy import create_engine

## Data Extraction & Inspection - PostgreSQL Database

In [2]:
# Establishing a connection to the database using create_engine.
engine = create_engine('postgresql://postgres:Thea1204%40@localhost:5432/dataengineering')

In [3]:
# Defining the SQL query that will be used to extract the data from the database.
query = "SELECT * FROM world_population"

In [4]:
# Fetch the data required from the database and store them in a pandas dataframe.
df = pd.read_sql(query, engine, index_col = 'Continent')
df.sort_values(by = ['Continent', 'Country/Territory', 'Rank'], ascending = True, inplace = True)

In [5]:
# Closing the database
engine.dispose()

In [6]:
df.head()

,Rank,CCA3,Country/Territory,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,,,,
Africa,34,DZA,Algeria,Algiers,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
Africa,42,AGO,Angola,Luanda,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
Africa,77,BEN,Benin,Porto-Novo,13352864,12643123,10932783,9445710,6998023,5133419,3833939,3023443,112622,118.5635,1.0274,0.17
Africa,144,BWA,Botswana,Gaborone,2630296,2546402,2305171,2091664,1726985,1341474,938578,592244,582000,4.5194,1.0162,0.03
Africa,58,BFA,Burkina Faso,Ouagadougou,22673762,21522626,18718019,16116845,11882888,9131361,6932967,5611666,272967,83.0641,1.0259,0.28

In [7]:
df.tail()

,Rank,CCA3,Country/Territory,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,,,,
South America,109,PRY,Paraguay,Asunción,6780744,6618695,6177950,5768613,5123819,4059195,3078912,2408787,406752,16.6705,1.0115,0.09
South America,44,PER,Peru,Lima,34049588,33304756,30711863,29229572,26654439,22109099,17492406,13562371,1285216,26.4933,1.0099,0.43
South America,170,SUR,Suriname,Paramaribo,618040,607065,575475,546080,478998,412756,375112,379918,163820,3.7727,1.0082,0.01
South America,133,URY,Uruguay,Montevideo,3422794,3429086,3402818,3352651,3292224,3117012,2953750,2790265,181034,18.9069,0.9990,0.04
South America,51,VEN,Venezuela,Caracas,28301696,28490453,30529716,28715022,24427729,19750579,15210443,11355475,916445,30.8820,1.0036,0.35

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, Africa to South America
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   2022 Population              234 non-null    int64
 5   2020 Population              234 non-null    int64
 6   2015 Population              234 non-null    int64
 7   2010 Population              234 non-null    int64
 8   2000 Population              234 non-null    int64
 9   1990 Population              234 non-null    int64
 10  1980 Population              234 non-null    int64
 11  1970 Population              234 non-null    int64
 12  Area (km²)                   234 non-null    int64
 13  Density (per km²)            234 non-null    float64
 14  Growth Rate                  234 non-null    float64
 15  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(3)
memory usage: 31.1+ KB

In [9]:
df.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

In [10]:
df.duplicated().sum()

0

In [11]:
df.nunique()

Rank                           234
CCA3                           234
Country/Territory              234
Capital                        234
2022 Population                234
2020 Population                234
2015 Population                234
2010 Population                234
2000 Population                234
1990 Population                234
1980 Population                234
1970 Population                234
Area (km²)                     233
Density (per km²)              234
Growth Rate                    180
World Population Percentage     70
dtype: int64

In [12]:
df.value_counts().sum()

234

In [13]:
df.isna().sum()

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [14]:
df['Country/Territory'].value_counts()['South Sudan']

1

In [21]:
South_Sudan = df[df['Country/Territory'] == 'South Sudan']
print(South_Sudan)

           Rank CCA3 Country/Territory Capital  2022 Population  \
Continent
Africa       86  SSD       South Sudan    Juba         10913164

           2020 Population  2015 Population  2010 Population  2000 Population  \
Continent
Africa            10606227         11194299          9714419          6114440

           1990 Population  1980 Population  1970 Population  Area (km²)  \
Continent
Africa             4750817          4192011          3342410      619745

           Density (per km²)  Growth Rate  World Population Percentage
Continent
Africa               17.6091       1.0153                         0.14